@import "_variables.css";

$sm: 320px;
$nm: 375px;
$md: 414px;
$lg: 480px;

@define-mixin font-size $normal {
  @media only screen and (width < $nm) {
    font-size: calc($sm/$nm * $normal * 1px);
  }

  @media only screen and (width >= $nm) and (width < $md) {
    font-size: calc($normal * 1px);
  }

  @media only screen and (width >= $md) and (width < $lg) {
    font-size: calc($md/$nm * $normal * 1px);
  }

  @media only screen and (width >= $lg) {
    font-size: calc($lg/$nm * $normal * 1px);
  }
}

@define-mixin border $width: 1px, $color: $dividerColor, $radius: 0 {
  position: relative;
  border: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: calc($radius * 2);
    border: $width solid $color;
    width: 200%;
    height: 200%;
    transform: scale(0.5);
    transform-origin: left top;
  }
}

@define-mixin border-left $width: 1px, $color: $dividerColor {
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    background-color: $color;
    left: 0;
    top: 0;
    bottom: 0;
    width: $width;
    transform: scaleX(0.5);
    transform-origin: center left;
  }
}

@define-mixin border-right $width: 1px, $color: $dividerColor {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    background-color: $color;
    right: 0;
    top: 0;
    bottom: 0;
    width: $width;
    transform: scaleX(0.5);
    transform-origin: center right;
  }
}

@define-mixin border-top $width: 1px, $color: $dividerColor {
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    background-color: $color;
    left: 0;
    right: 0;
    top: 0;
    height: $width;
    transform: scaleY(0.5);
    transform-origin: top center;
  }
}

@define-mixin border-bottom $width: 1px, $color: $dividerColor {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    background-color: $color;
    left: 0;
    right: 0;
    bottom: 0;
    height: $width;
    transform: scaleY(0.5);
    transform-origin: bottom center;
  }
}
