$annoColor: #f85800;
$impoColor: #ff8208;
$linkColor: #0ae;
$tipsColor: #ccc;
$descColor: #a5a5a5;
$textColor: #666;
$titleColor: #333;
$inputColor: $titleColor;
$tabColor: $textColor;
$reverseTextColor: #fff;
$reverseTitleColor: #fff;
$disabledColor: #e8e8f0;
$dividerColor: #e5e5e5;
$bgColor: #fff;
$primaryColor: $linkColor;
$primaryBorderColor: $linkColor;
$secondaryColor: #fff;
$secondaryBorderColor: #ddd;
$primaryActiveColor: #0091cb;
$primaryActiveBorderColor: #0091cb;
$secondaryActiveColor: #f8f8f8;
$secondaryActiveBorderColor: #d8d8d8;
$outlineBackgroundColor: #fff;
$text-1: 20;
$text-2: 18;
$text-3: 16;
$text-4: 14;
$text-5: 13;
$text-6: 12;
$navbar-height: 44;
