@import "_common.css";

.addon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.5em;
  margin: auto;
  padding-left: 0.5em;
  padding-right: @padding-left;

  &.left {
    position: relative;
  }
}
