@import "_common.css";

$fs: $text-5;

.toast {
  @mixin font-size $fs;

  position: fixed;
  opacity: 0.9;
  width: em(105, $fs);
  height: @width;
  top: em(225, $fs);
  left: 50%;
  transform: translate(-50%);
  border-radius: em(10, $fs);
  background-color: #1f2337;
  z-index: 999999;

  & > .icon {
    font-size: em(41, $fs);
    color: $bgColor;
    width: 1em;
    height: @width;
    line-height: @height;
    position: absolute;
    top: calc(17.5em / 41);
    left: 0;
    right: 0;
    margin: auto;
  }

  & > .message {
    color: $bgColor;
    position: absolute;
    text-align: center;
    top: em(70, $fs);
    left: em(10, $fs);
    right: @left;
    margin: auto;
    line-height: 1.2;
    font-size: 1em;
  }

  &.hide {
    display: none;
  }
}

.navbar-wrapper ~ .toast,
.navbar-wrapper ~ * .toast {
  top: em(225 - $navbar-height, $fs);
}
